.appContainer {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(100, 1fr);
    grid-auto-rows: 1fr;
}

.menuContainerShow {
    grid-column-start: 1;
    grid-column-end: 22;
}

.menuContainerHide {
    grid-column-start: 1;
    grid-column-end: 7;
}

.homeContainerMd {
    grid-column-start: 22;
    grid-column-end: 101;
}

.homeContainerLg {
    grid-column-start: 7;
    grid-column-end: 101;
}